.movie-card {
    background-color: #183D3D;
    padding: 0.25rem;
    margin: 1rem;
    width: 400px;
    height: auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-image {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.text-card {
    font-size: 18px;
    color: white;
    padding: 0.5rem;
}

.text-card strong {
    color: white;
}

.buttonMore {
    background-color: #4a695a;
    color: white;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    margin: 0 auto 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.buttonMore:hover {
    background-color: #0D2424;
}

.movie-details {
    font-size: 16px;
    color: white;
    padding: 0.5rem;
    background-color: #4a695a;
    border-radius: 0 0 10px 10px;
}

.movie-details p {
    margin: 0.5rem 0;
}

.movie-details strong {
    color: #183D3D;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    fill: #ffcc00;
}